/* #region common */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fc-white-lighter: #ffffff;
    --fc-white-light: #fefdf8;
    --fc-black: #0f0e17;
    --fc-pink: #e53170;
    --fc-lightblue: #6bcaee;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

/* #endregion common */

/* #region utility */

.container {
    max-width: 1070px;

    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.card {
    float: left;
    
    width: calc(100% / 3);

    padding: 1rem 2rem;
}

/* #endregion utility */

/* #region main */

.debug .card {
    height: 100px;
    background-color: greenyellow;
    border: 1px solid black;
}

h1 {
    font-weight: 900;
    color: var(--fc-pink);

    padding: 2rem 0;
}

#header {
    text-align: center;
}

#header p {
    padding-bottom: 1rem;
}

/* #endregion main */